@font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTlakes-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TTLakes";
    src: url("./fonts/TTLakes-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body{
    margin: 0;
    font-family: TTlakes, Arial, sans-serif;
}

a {
    color:#7E7E82;
    text-decoration: none;
    font-weight: 500;

    
}
p{
    color:#1B1C21
}


.header {
    width:100%;
    height: 50px;
    background-color: rgb(254, 254, 254);
    border-bottom: 0.2px solid#41F6D7;

}

.uppermenu {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    
}
.uppermenu__left, .uppermenu__right{
    display:flex;
    align-items: center;
    gap: 16px;
}

.uppermenu__logo{
    width: 75px;
    height: auto;
}

.uppermenu__vertical-divider{
    width: 2px;
    height: 32px;
    background-color:#EAEAEA;
    margin: 0 8px;
}

.uppermenu__hidden-item{
    display:none;
}

.uppermenu__links{
    display:flex;
    align-items: center;
}



.uppermenu__label{
    display:none;
    
}

.services {
    background-color: #F8F8F8;
    padding-top: 26px;
}

.services__container {
    margin: 0 auto;
    padding: 0 20px;
      
}
h1{
    margin: 0 0 24px 0;
    padding-left: 16px;
    border-left: 4px solid #41F6D7;
    font-size: 28px;
    font-weight: 700;
    
}


h1:hover{
    border: 1px solid blue;
}

.nav{
  width: 100%;
  overflow-x: auto; 
 }

 .nav__menu{
   display:flex;
   gap: 12px;
   padding: 0 16px;
   white-space: nowrap;
 }

 .nav__menu li{
    display:inline-block;
    width: max-content;
    padding: 8px 12px;
    border: 2px solid transparent;
    border-radius: 6px;
    margin-top:0;
    border: 1px solid transparent;
}
   

 .nav__menu li:first-child {
    border: 2px solid #41F6D7;
    background-color: #FFFF;   
 }

 .block1{
    display:flex;    
    flex-direction: column;
    padding: 25px;
    gap: 16px;
 }

 .block1 img {
    display:inline-block;
    width: 100%;
    height: auto;
 }

 @media (min-width: 768px){
    .block1{
        flex-direction: row;
        align-items: flex-start;
    }

    .block1 img {
        max-width: 100%;
    }

    .uppermenu__hidden-item{
        display:flex;
        align-items: center;
        gap: 16px;
    }

     .block1{
        flex-direction: row;
        gap: 36px;
        align-items: flex-start;
    }

    .block1 p {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .block1 img {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

 @media (min-width: 1120px){
 
    .nav{
        overflow:visible;
        background-color:#F8F8F8 ;
    }

    .nav__menu {
       white-space: normal;
       flex-wrap: wrap;
       gap: 16px;
    }
    .uppermenu__label{
        display:inline;
        margin-right: 8px;
        font-size: 14px;
        color: #1B1C21;
        white-space: nowrap;
    }

    .uppermenu__left{
        visibility: hidden;
    }

     .block1{
        flex-direction: row;
        gap: 36px;
        align-items: flex-start;
    }

    .block1 p {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .block1 img {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .uppermenu__hidden-item{
        display:none;
    }
}